<form [formGroup]="projectSearch">
  <div class="d-flex">
    <div class="form-inline mr-auto">
      <div class="form-group mb-2">
        <label class="mr-2">Project Id:</label> 

        <input type="number" 
          class="form-control-mr-2" 
          placeholder="search"
          formControlName="id">

        <button class="btn btn-outline-primary" (click)="getProjectById(_searchFilterById)">
          Search
        </button>
        &nbsp;
      </div>
      <div class="form-group mb-2">
        <label class="mr-2">Course Id:</label> <input type="number"
        class="form-control-mr-2" 
        placeholder="search">
        <button class="btn btn-outline-primary" (click)="getProjectByCourseId(_searchFilterByCourseId)">
          Search
        </button>
      </div>
    </div>
    <div>
      <button class="btn btn-outline-primary" (click)="newProject(modalTemplate)">
        <i class="fa fa-plus-circle"></i> &nbsp;
        New Project
      </button>
    </div>
    
  </div>
  
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th>
          <button class="btn btn-outline-primary"
          (click)="showImages()">
          <i class="{{imageShow ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        </button>
      </th>
      <th>#</th> 
      <th>Name</th>
      <th>Why</th>
      <th>What</th>
      <th>WhatWillWeDo</th>
      <th>Project Status</th>
      <th>Course Id</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="projects && projects.length">
    <tr *ngFor="let project of filteredProjects">
      <td>
        <img *ngIf="imageShow" 
        src="http://localhost:5000/img/{{project.image}}"
        [style.width.px] ="imageLarg"
        [style.margin.px]="imageMarg">
      </td>
      <td>{{project.id}}</td>
      <td>{{project.name}}</td>
      <td>
        <div *ngIf="!project.why.length">
          No information inputed !
        </div>
        <div *ngIf="project.why.length">
          {{project.why}}
        </div>
      </td>
      <td>{{project.whatWillWeDo}}</td>
      <td>{{project.what}}</td>
      <td>{{project.projectStatus}}</td>
      <td>{{project.courseId}}</td>
      <div class="btn-group">
        <button class="btn btn-sm btn-success" 
        tooltip="Edit" (click)="openModal(modalTemplate)">
        <i class="fa fa-edit"></i>
      </button>
      <button class="btn btn-sm btn-danger" 
      tooltip="Delete" (click)="openModal(modalTemplate)">
      <i class="fa fa-eraser"></i>
    </button>
  </div>
</tr>
</tbody>
<tfoot>
  <tr *ngIf="!projects.length">
    <td colspan="7" class="text-center">
      <h4>
        No projects found !
      </h4>
    </td>
  </tr>
</tfoot>
</table>
</form>

<div bsModal #modalTemplate="bs-modal" class="modal fade" tabindex="-1"
role="dialog" aria-labelledby="dialog-sizes-name1">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Create new project</h4>
      <button type="button" class="close pull-right" (click)="modalTemplate.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="registerForm">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>
              <h6>Name</h6>
            </label>
            <input type="text" class="form-control"
            [ngClass]="{'is-invalid': registerForm.get('name').errors && registerForm.get('name').touched}"
            formControlName="name" placeholder="Type the name of project">
            <div class="invalid-feedback">
              Name must to be typed !
            </div>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>
              <h6>Why</h6>
            </label>
            <input type="text" class="form-control" 
            formControlName="why" placeholder="Type why to do this project">
            <div class="text-danger">
              *Optional
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>
              <h6>What</h6>
            </label>
            <input type="text" class="form-control" 
            formControlName="what" placeholder="Type what is this project">
            <div class="text-danger">
              *Optional
            </div>
          </div>
        </div>  
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>
              <h6>What Will We Do</h6>
            </label>
            <input type="text" class="form-control" 
            formControlName="whatWillWeDo" placeholder="Type what we will do in this project">
            <div class="text-danger">
              *Optional
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>
              <h6>Project Status</h6>
            </label>
            <input type="text" class="form-control" 
            formControlName="projectStatus" placeholder="project status">
            <div class="text-danger">
              *Optional
            </div>
          </div>
          <div class="form-group col-md-9">
            <label>
              <h6>Image</h6>
            </label>
            <input type="text" class="form-control" 
            formControlName="image" placeholder="Image URL">
            <div class="text-danger">
              *Optional
            </div>
          </div>
          <div class="form-group col-md-2">
            <label>
              <h6>Course Id</h6>
            </label>
            <input type="text" class="form-control" 
            [ngClass]="{'is-invalid': registerForm.get('courseId').errors && registerForm.get('courseId').touched}"
            formControlName="courseId" placeholder="Id"> 
            <div class="invalid-feedback">
              Course Id must to be typed !
            </div>
          </div>
          <!-- <li class="nav-item dropdown" dropdown>
            <a dropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Course
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
              <tbody>
                <td>
                  {{project.courseId}}
                </td>
              </tbody>
            </a>
            <div role="separator" class="divider"></div>
          </div> -->
        </div>  
      </form>
    </div>
    <div class="modal-footer d-flex">
      <button class="btn btn-secondary" (click)="modalTemplate.hide()">
        Close
      </button>
      <!-- <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="saveChanges(modalTemplate)">
        Save Changes
      </button> -->
    </div>
  </div>
</div>
</div>